# registry=https://registry.npmjs.org/
# @kaytrust:registry=https://pkgs.dev.azure.com/everis-peru/KayTrust/_packaging/InternalUse/npm/registry/
# always-auth=true

# //npm.pkg.github.com/:_authToken=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
# @kaytrust:registry=https://npm.pkg.github.com
// La autenticación se agrega en tiempo de ejecución del Pipeline de azure